{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scmp contato</title>
    <link rel="stylesheet" href="{% static 'static/admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/admin/js/bootstrap.min.js' %}">

</head>
<body>
    {% include 'scmp/partials/navegacao.html' %}
<div class="container">
    <div class="row justify-content-center" style="color: white;">
        <div class="col-md-6 " style="background-color: rgb(54, 161, 152);">
            <h1>Texto</h1>

        </div>
        <div class="col-md-6" style="background-color: rgb(206, 48, 48);">
            <h1>Texto 2</h1>
        </div>
            
    </div>

    <div class="row justify-content-center" style="padding-top: 5em; color: white;">
        <div class="col-md-6 " style="background-color: rgb(249, 253, 23);">
            <h1>Texto 3</h1>

        </div>
        <div class="col-md-6" style="background-color: rgb(43, 60, 211);">
            <h1>Texto 4</h1>
        </div>
            
    </div>

</div>
</body>
</html>